.info {
    background-color: #c2d3ee;
    color: black;
    padding:10px;    

    &:before {
        content: "\24D8\00a0";
        white-space: pre;
    }
}

.example {
    background-color: #f2f7ae;
    color: black;
    padding: 10px;

    &:before {
        content: "\2b50\00a0\00a0 Example\A";
        font-weight:bold;
        white-space: pre-wrap;
    }
}

.important {
    background-color: #e6a254;
    color: black;
    padding: 10px;

    &:before {
        content: "\26a0\00a0\00a0 Important\A";
        font-weight:bold;
        white-space: pre-wrap;
    }
}

ul {
    list-style-type: none;
}

ul.gallery  {
    list-style-type: none;
    margin:0;
    padding: 0;
}

ul.gallery li {
    float: left;
    margin: 10px;
    text-align: center;
    width:120px;    
    border: 1px solid #efefef;
    border-radius: 5px;

    &:before {
        content: "";
    }
}

.gallery-name {
    font-size: 0.9em;
    text-align:center;
    word-wrap: normal;
    white-space: normal;
    background-color: #efefef;
    padding:10px;
}

.gallery-logo {
    padding: 10px;
}

.gallery-logo img {
    width: 64px;
    height: 64px;
}
